basePath: /api
definitions:
  models.Aircraft:
    properties:
      aircraft_type:
        type: string
      aircraft_type_key:
        type: string
      id:
        type: integer
      num_rows:
        type: integer
      seats_per_row:
        description: Comma-separated seat letters, e.g. "A,C,D,F"
        type: string
    type: object
  models.Voucher:
    properties:
      aircraft_type:
        type: string
      aircraft_type_key:
        type: string
      created_at:
        type: string
      crew_id:
        type: string
      crew_name:
        type: string
      flight_date:
        type: string
      flight_number:
        type: string
      id:
        type: integer
      seat1:
        type: string
      seat2:
        type: string
      seat3:
        type: string
    type: object
host: localhost:8081
info:
  contact: {}
  description: This is a service for managing aircraft, flight, and voucher assignments
  title: Voucher Seat Assignment API
  version: "1.0"
paths:
  /aircraft:
    get:
      description: Get all aircraft
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/models.Aircraft'
            type: array
      summary: List all aircraft
      tags:
      - aircraft
    post:
      consumes:
      - application/json
      description: Create a new aircraft with the provided details
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/models.Aircraft'
      summary: Create a new aircraft
      tags:
      - aircraft
  /aircraft/{id}:
    delete:
      description: Delete aircraft by ID
      parameters:
      - description: Aircraft ID
        in: path
        name: id
        required: true
        type: integer
      responses:
        "204":
          description: No Content
      summary: Delete an aircraft
      tags:
      - aircraft
    get:
      description: Get aircraft details by ID
      parameters:
      - description: Aircraft ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.Aircraft'
      summary: Get an aircraft by ID
      tags:
      - aircraft
    put:
      consumes:
      - application/json
      description: Update aircraft details by ID
      parameters:
      - description: Aircraft ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.Aircraft'
      summary: Update an aircraft
      tags:
      - aircraft
  /vouchers:
    get:
      description: Get a list of all vouchers with their associated flight information
      produces:
      - application/json
      responses:
        "200":
          description: Successfully retrieved vouchers list
          schema:
            items:
              $ref: '#/definitions/models.Voucher'
            type: array
        "500":
          description: Server error
          schema:
            additionalProperties:
              type: string
            type: object
      summary: List all vouchers
      tags:
      - vouchers
  /vouchers/check:
    post:
      description: Generate voucher seat for crew members based on the flight ID and
        flight date and return exist true/false
      parameters:
      - description: Voucher generate request
        in: body
        name: request
        required: true
        schema:
          additionalProperties: true
          type: object
      produces:
      - application/json
      responses:
        "200":
          description: List voucher seat
          schema:
            additionalProperties: true
            type: object
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
        "500":
          description: Server Error
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Check voucher seat
      tags:
      - vouchers
  /vouchers/generate:
    post:
      description: Generate voucher seat for crew members based on the flight ID and
        flight date
      parameters:
      - description: Voucher generate request
        in: body
        name: request
        required: true
        schema:
          additionalProperties: true
          type: object
      produces:
      - application/json
      responses:
        "201":
          description: 'Example: {\"success\": true, \"seats\": [\"3B\", \"7C\", \"14D\"]}'
          schema:
            additionalProperties: true
            type: object
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
        "500":
          description: Server Error
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Generate voucher seats
      tags:
      - vouchers
swagger: "2.0"
